<div class="row">
  <div class="col-md-2"></div>
    <div class="col-md-4">
     <table class="table info-background">
       <tr>
         <th>Product</th>
         <th>Quantity</th>
         <th>Price Per Product</th>
       </tr>
       <% @order.carted_products.each do |carted_product| %>
        <tr>
          <td><%carted_product.product.name %></td>
          <td src=""><%carted_product.product.images.first.all if carted_product.product.image.any? %></td>
          <td><%carted_product.product.quantity %></td>
          <td><%carted_product.product.price %></td>
        </tr>
     </table>
      
    </div>
    <div class="col-md-4">
      <img src="<%= @order.product.images.first.url %>">
    </div>
</div>


<ul>
  <li>name: <%= @product.name %></li>
  <li>price: <%= @product.total_price %></li>
  <li>description: <%= @product.description %></li>
  <li>image: <%= @product.image %></li>
  <li> Unjust government regulated tax: <%= @product.tax%></li>
  <li>Supplier: <%= @product.supplier.name %></li>

  <%= link_to "Edit", "/products/#{@product.id}/edit" %>
  <%= link_to "Delete", "/products/#{@product.id}", method: :delete %>


 <li>
 
 </li>

</ul>

<%= form_tag '/orders', method: :post do %>
  <div>
    <%= label_tag :quantity %>
    <%= text_field_tag :quantity %>
  </div>
  <div>
    <%= label_tag :product_id %>
    <%= text_field_tag :product_id %>
  </div>

  <%= sumbit_tag "Buy Now!" %>

<% end %>