<h1>Product's Available:</h1>
<% if current_user && current_user.admin %>
  <p><%= link_to "Add Product", "/products/new" %></p>
<% end %>

<table class="table table-hover">
  <tr class="heading-bright">
    <th>Image</th>
    <th>Name</th>
    <th>Price</th>
    <th>Sale or not to Sale</th>
    <th>Description</th>
    <th>Tax</th>
    <th>Show Product</th>
  </tr>

  <% @products.each do |product| %> 
  <tr>
    <td><img src="<%= product.image %>" class="img-responsive" alt="Responsive image"></td>
    <td><%= link_to product.name, "/products/#{product.id}" %></td>
    <td><%= product.total_price %></td>
    <% if product.sale_message == "Discount Item!" %>
      <td class="sale_message"><%= product.sale_message %></td>
    <% else %>
      <td><%= product.sale_message %></td>
    <% end %>

    <td><%= product.description%></td>
    <td> Unjust government regulated tax<%= product.tax%></td>
    <td><%= link_to "show me", "/products/#{product.id}" %></td>
    <td><%= link_to "Edit", "/products/#{product.id}/edit" %></td>
    <td><%= link_to "Delete", "/products/#{product.id}", method: :delete %></td>
  </tr>
  <% end %>  
</table>