<h1>Product's Available:</h1>

<table class="table table-hover">
  <tr>
    <th>Name</th>
    <th>Price</th>
    <th>Image</th>
    <th>Description</th>
    <th>Edit</th>
  </tr>

  <% @products.each do |product| %>
  <tr>
    <td><%= link_to product.name, "/products/#{product.id}" %></td>
    <td><%= product.price %></td>
    <td><%= product.description%></td>
    <td><img src="<%= product.image %>" class="img-responsive" alt="Responsive image"></td>
    <td><%= link_to "show me", "/products/#{product.id}" %></td>
    <td><%= link_to "Edit", "/products/#{product.id}/edit" %></td>
    <td><%= link_to "Delete", "/products/#{product.id}", method: :delete %></td>
  </tr>
  <% end %>  
</table>