<ul>
  <li>name: <%= @product.name %></li>
  <li>price: <%= @product.total_price %></li>
  <li>description: <%= @product.description %></li>
  <li>image: <%= @product.image %></li>
  <li> Unjust government regulated tax: <%= @product.tax%></li>
  <li>Supplier: <%= @product.supplier.name %></li>
  <li>Categories:
    <ul>
      
        <% @product.categories.each do |category| %>
        <li><%= category.name %></li>
        <% end %>
    </ul>
  </li>

  <%= link_to "Edit", "/products/#{@product.id}/edit" %>
  <%= link_to "Delete", "/products/#{@product.id}", method: :delete %>


 <li>
 
 </li>

</ul>

<%= form_tag '/orders', method: :post do %>
  <div>
    <%= label_tag :quantity %>
    <%= text_field_tag :quantity %>
  </div>
  <%= hidden_field_tag :product_id, @product.id %>

  <%= submit_tag "Buy Now!" %>

<% end %>